body {
	font-family: 'Poppins', sans-serif;
	background-color: #faebe6;
}

.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}

.weather-app {
	padding: 25px;
	border: 1px solid #db4c40;
	border-radius: 10px;
	background-color: #dbe9f9;
}

#city-input {
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#city-input::placeholder {
	opacity: 0.5;
}

.btn {
	background-color: #ec6e4b;
	border: 1px solid #ec6e4b;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn:hover,
.btn:focus {
	background-color: #4b93ec;
}

.overview {
	margin-bottom: 20px;
}

#city {
	margin-bottom: 5px;
	color: #ec6e4b;
	font-size: 30px;
	font-weight: 600;
	line-height: 28px;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
		1px 1px 1px rgba(0, 0, 0, 0.5);
}

#description {
	color: #ec6e4b;
	font-weight: 600;
}

.date-update {
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	color: #9c9898;
	font-size: 16px;
	list-style: none;
	line-height: 19px;
}

li::first-letter {
	text-transform: capitalize;
}

.weather-temperature img {
	width: 64px;
}

.weather-temperature a {
	color: #9c9898;
	text-decoration: none;
}

.weather-temperature .active {
	color: #e64b20;
	cursor: default;
}

#temperature {
	color: #ed6d4a;
	font-size: 60px;
	font-weight: 400;
	line-height: 1;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
		1px 1px 1px rgba(0, 0, 0, 0.5);
}

.weather-temperature .units {
	position: relative;
	top: -34px;
	left: 0;
}

.weather-data {
	font-weight: 300;
}

.weather-forecast {
	margin-top: 30px;
	text-align: center;
	color: #4b93ec;
}

.weather-tab {
	margin: 0 5px;
	padding: 5px 0;
	background-color: #f2dbd4;
	font-weight: 300;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 1) 0px 10px 10px -25px,
		rgba(0, 0, 0, 0.3) 0px 50px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 5px 0px inset;
}

.weather-tab:hover {
	transform: scale(1.1);
	box-shadow: rgba(236, 110, 75, 0.25) 0px 10px 10px -25px,
		rgba(236, 110, 75, 0.3) 0px 50px 60px -30px,
		rgba(236, 110, 75, 0.5) 0px -2px 5px 0px inset;
}

.weather-forecast-day {
	font-size: 16px;
}

.weather-forecast-temp-min {
	opacity: 0.8;
}

.weather-forecast-temp {
	font-size: 13px;
}

footer {
	padding-top: 10px;
	text-align: center;
	color: #989898;
	font-weight: 300;
	font-size: 14px;
}

footer a {
	text-decoration: none;
	color: rgba(75, 147, 236, 0.7);
}

footer a:hover {
	color: #599ef3;
}
