body {
	font-family: 'Poppins', sans-serif;
}

.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}

.weather-app {
	padding: 20px;
	border: 1px solid #db4c40;
	border-radius: 10px;
}

#city-input {
	box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.3);
}

#city-input::placeholder {
	opacity: 0.5;
}

.btn {
	background-color: #ec6e4b;
	border: 1px solid #ec6e4b;
}

.overview {
	margin-bottom: 20px;
}

#city {
	margin-bottom: 0;
	color: #ec6e4b;
	font-size: 30px;
	font-weight: 600;
	line-height: 28px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	line-height: 19px;
	color: rgb(156, 152, 152);
	font-size: 16px;
}

li::first-letter {
	text-transform: capitalize;
}

.weather-temperature img {
	width: 64px;
}

.weather-temperature a {
	color: rgb(156, 152, 152);
	text-decoration: none;
}

.weather-temperature .active {
	color: #e64b20;
	cursor: default;
}

#temperature {
	color: #ec6e4b;
	line-height: 1;
	font-size: 60px;
	font-weight: 400;
}

.weather-temperature .units {
	position: relative;
	top: -34px;
	left: 0;
}

footer {
	padding-top: 10px;
	text-align: center;
	color: rgb(177, 177, 177);
	font-size: 14px;
}

footer a {
	text-decoration: none;
	color: #98bee7;
}
